<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
	<meta name="author" content="Umukoro">
	<meta name="keywords" content="Umukoro, bootstrap, web ui kit, dashboard template, admin template">

	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<title>Orders | Umukoro.rw</title>

	<link href="/css/app.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		
		<!--{{>admin_asider}} -->

		<!--            CONTROL ASIDER HERE           -->

		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/admin/dashboard">
          <span class="align-middle">Umukoro</span>
        </a>

				<ul class="sidebar-nav">

					<li class="sidebar-item">
						<a class="sidebar-link" href="/admin/dashboard">
              <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/admin/orders">
              <i class="align-middle" data-feather="package"></i> <span class="align-middle">Orders</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/admin/inbox">
              <i class="align-middle" data-feather="inbox"></i> <span class="align-middle">Inbox</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/admin/users">
              <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/admin/finance">
              <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Finance</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/admin/notifications">
              <i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notifications</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/admin/settings">
              <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
            </a>
					</li>
				</ul>

				<div class="sidebar-cta">
					<ul class="sidebar-nav">
						<li class="sidebar-item">
							<a class="sidebar-link" href="#">
	              <span class="align-middle">Version 001.01.01</span>
	            </a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--            END OF  ASIDER HERE           -->

		<div class="main">
			
			{{>admin_nav_bar}}

			{{#if message}}
			
				<div style="text-align: center" class="alert alert-{{message.type}}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>{{message.intro}}</strong> {{message.message}}
				</div>

			{{/if}}

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3><strong>Orders</strong> Page</h3>
						</div>

						<div class="col-auto ml-auto text-right mt-n1">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item"><a href="/admin/dashboard">Dashboards</a></li>
									<li class="breadcrumb-item active" aria-current="page">Orders</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<div class="btn-group">
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Sort By
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Latest</a>
										<a class="dropdown-item" href="#">Oldest</a>
										<a class="dropdown-item" href="#">Most Ordering</a>
										<a class="dropdown-item" href="#">Less Ordering</a>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table mb-0">
									<thead>
										<tr>
											<th scope="col">#Task ID</th>
											<th scope="col">Username</th>
											<th scope="col">Email</th>
											<th scope="col">Phone</th>
											<th scope="col">Academic <br> Level</th>
											<th scope="col">Task Type</th>
											<th scope="col">Subject</th>
											<th scope="col">Academic <br> Institution</th>
											<th scope="col">Status</th>
											<th scope="col">Deadline</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row"><a href="/admin/orders/details">default</a></th> <!-- mmddhhmmss -->
											<td>default</td> <!-- limit to 8 digits -->
											<td>default</td>
											<td>default</td>
											<td>default</td>
											<td>deafult</td>
											<td>default</td>
											<td>default</td>
											<td><span class="badge badge-danger">Cancelled</span></td>
											<td>default</td>
										</tr>
										

										{{#each task}}

											<tr>
												<th scope="row"><a href="/admin/orders/details">08151{{@index}}</a></th> <!-- mmddhhmmss -->
												<td>{{moreinfo.username}}</td> <!-- limit to 8 digits -->
												<td>{{moreinfo.email}}</td>
												<td>{{moreinfo.phone}}</td>
												<td>{{level}}</td>
												<td>{{type}}</td>
												<td>{{subject}}</td>
												<td>{{institution}}</td>
												<td><span class="badge badge-warning">Progress</span></td>
												<td>{{deadline}}</td>
											</tr>

										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								<a href="/admin/dashboard" class="text-muted"><strong>Umukoro</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="/js/vendor.js"></script>
	<script src="/js/app.js"></script>

</body>

</html>
