<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/DataTables/datatables.min.css" type="text/css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
	<meta name="author" content="Umukoro">
	<meta name="keywords" content="Umukoro, bootstrap, web ui kit, dashboard template, admin template">

	<link rel="shortcut icon" href="images/icons/icon-48x48.png" />

	<title>Home | Umukoro.rw</title>

	<link href="css/app.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/home">
          <span class="align-middle">Umukoro</span>
        </a>

				<ul class="sidebar-nav">

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/home">
              <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/tasks">
              <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Tasks</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/inbox">
              <i class="align-middle" data-feather="inbox"></i> <span class="align-middle">Inbox</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/documents">
              <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Documents</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/notifications">
              <i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notification</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/profile">
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="settings">
              <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
            </a>
					</li>
				</ul>

				<div class="sidebar-cta">
					<ul class="sidebar-nav">
						<li class="sidebar-item">
							<a class="sidebar-link" href="#">
	              <span class="align-middle">Version 001.01.01</span>
	            </a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!--	user navbar	-->
		{{>user_nav_bar}}

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3><strong>My</strong> Dashboard</h3>
						</div>

						<div class="col-auto ml-auto text-right mt-n1">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item"><a href="/home">My Dashboards</a></li>
									<li class="breadcrumb-item active" aria-current="page">Home</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-4">
										Ongoing Tasks
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> (in 14 days)</span>
									</h5>
									<h1 class="display-5 mt-1 mb-3">8</h1>
									<div class="mb-1">
										<a href="/tasks" class="card-link">Go To Tasks</a>
									</div>
								</div>
							</div>
						</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">
											Completed Task
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> - Latest</span>
										</h5>
								    <h1 class="display-5 mt-1 mb-3">1</h1>
										<div class="mb-1">
								      <a href="/documents" class="card-link">Go To Documents</a>
								    </div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">
											New Messages
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> - Unread</span>
										</h5>
								    <h1 class="display-5 mt-1 mb-3">24</h1>
										<div class="mb-1">
								      <a href="/inbox" class="card-link">Go To Inbox</a>
								    </div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">
											Coupons
										</h5>
								    <h1 class="display-5 mt-1 mb-3">7</h1>
										<div class="mb-1">
								      <a href="#" class="card-link">Redeem</a>
								    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-2 mb-xl-3">
							<div class="col-auto d-none d-sm-block">
								<h3><strong>Ongoing</strong> Tasks</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<!--sort by -->
										<div class="btn-group">
											<a href="/newTasks" class="btn btn-primary">Place A New Order</a>
										</div>

									</div>
									<div class="table-responsive">
										<table class="table mb-0">
											<thead>
												<tr>
													<th scope="col">#Task ID</th>
													<th scope="col">Task Type</th>
													<th scope="col">Subject</th>
													<th scope="col">Deadline</th>
													<th scope="col">Status</th>
													<th scope="col">Manage</th>
												</tr>
											</thead>
											<tbody>
												{{#each tasks}}
												<tr>
													<th scope="row"><a href="#">{{_id}}</a></th>
													<td>{{type}}</td>
													<td>{{subject}}</td>
													<td>{{deadline}}</td>
													<td><span class="badge badge-secondary">Unpaid</span></td></td>
													<td><a href="/task/{{_id}}">Remove Task</a> </td>
													
												</tr>

												{{/each}}
											</tbody>
										</table>
									</div>
									<table id="taskTable">
										<thead>
											<th>#Task ID</th>
											<th>Task Type</th>
											<th>Subject</th>
											<th>Deadline</th>
											<th>Status</th>
											<th>Remove</th>
										</thead>
									</table>
								</div>
							</div>
						</div>


			</main>

			<!-- foooter-->
			{{>user_footer}}

		</div>
	</div>

	<script src="js/vendor.js"></script>
	<script src="js/app.js"></script>

	<script>
		$(function() {
			// Line chart
			new Chart(document.getElementById("chartjs-line"), {
				type: "line",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "Sales (Rwf)",
						fill: true,
						backgroundColor: "transparent",
						borderColor: window.theme.primary,
						data: [2115, 1562, 1584, 1892, 1487, 2223, 2966, 2448, 2905, 3838, 2917, 3327]
					}, {
						label: "Orders",
						fill: true,
						backgroundColor: "transparent",
						borderColor: "#adb5bd",
						borderDash: [4, 4],
						data: [958, 724, 629, 883, 915, 1214, 1476, 1212, 1554, 2128, 1466, 1827]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.05)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 500
							},
							display: true,
							borderDash: [5, 5],
							gridLines: {
								color: "rgba(0,0,0,0)",
								fontColor: "#fff"
							}
						}]
					}
				}
			});
		});
	</script>
				<script src="/jquery/jquery.js" type="text/javascript"></script>
                <script src="/DataTables/datatables.min.js" type="text/javascript"></script>
                <script>
                    function displayAllTicket() {
                        $('#taskTable').dataTable().fnDestroy();
                        $.ajax({
                            url: "http://localhost:3001/alltasks-apis",
                            type: 'GET',
                            dataType: 'JSON',
                            success: function(data) {
                                $('#taskTable').dataTable({
                                    "aaData": data,
                                    "scrollx": true,
                                    "aoColumns": [
                                        {"sTitle": "#Task ID", mData: "_id"},
                                        {"sTitle": "Task Type", mData: "type"},
										{"sTitle": "Subject", mData: "subject"},
										{"sTitle": "Deadline", mData: "deadline"},
										{"sTitle": "Status", mData: "status"},
										{
											"sTitle": "Remove", 
											"mData": "_id",
											"render": function(mData){
												return '<button  onclick="removeTask(`608fb2cf3aba6607838434a7`)" style="color:#22779c;">Remove</button>';
											}
										}
                                    ]
                                });
                            }
                        });
                    }
                    displayAllTicket();
					function removeTask(_id){
						$.ajax({
							type: 'POST',
							url:'http://localhost:3000/helpajax/id='+_id,
							{{!-- data:{"id": "608ed9c2411364194e8a0932"}, --}}

							success:function(){
								displayAllTicket();
							}
						});

					}
                </script>

</body>

</html>
