<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
       <meta name="author" content="Umukoro">
       <meta name="keywords" content="Umukoro, bootstrap, web ui kit, dashboard template, admin template">

       <link rel="shortcut icon" href="images/icons/icon-48x48.png" />

       <title>Profile | Umukoro.rw</title>

       <link href="css/app.css" rel="stylesheet">
</head>

<body>
       <div class="wrapper">
              <nav id="sidebar" class="sidebar">
                     <div class="sidebar-content js-simplebar">
                            <a class="sidebar-brand" href="/home">
                              <span class="align-middle">Umukoro</span>
                        </a>

                            <ul class="sidebar-nav">

                                   <li class="sidebar-item">
                                          <a class="sidebar-link" href="/home">
                                          <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
                                    </a>
                                   </li>

                                   <li class="sidebar-item">
                                          <a class="sidebar-link" href="/tasks">
                                          <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Tasks</span>
                                    </a>
                                   </li>

                                   <li class="sidebar-item">
                                          <a class="sidebar-link" href="/inbox">
                                          <i class="align-middle" data-feather="inbox"></i> <span class="align-middle">Inbox</span>
                                    </a>
                                   </li>

                                   <li class="sidebar-item">
                                          <a class="sidebar-link" href="/documents">
                                          <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Documents</span>
                                    </a>
                                   </li>

                                   <li class="sidebar-item">
                                          <a class="sidebar-link" href="/notifications">
                                          <i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notification</span>
                                    </a>
                                   </li>

                                   <li class="sidebar-item  active">
                                          <a class="sidebar-link" href="/profile">
                                          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                                    </a>
                                   </li>

                                   <li class="sidebar-item">
                                          <a class="sidebar-link" href="/settings">
                                          <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
                                    </a>
                                   </li>
                            </ul>

                            <div class="sidebar-cta">
                                   <ul class="sidebar-nav">
                                          <li class="sidebar-item">
                                                 <a class="sidebar-link" href="#">
                                                 <span class="align-middle">Version 001.01.01</span>
                                           </a>
                                          </li>
                                   </ul>
                            </div>
                     </div>
              </nav>


             <!--	user navbar	-->
              {{>user_nav_bar}}

             <main class="content">
                    <div class="container-fluid p-0">

                           <div class="row mb-2 mb-xl-3">
                                  <div class="col-auto d-none d-sm-block">
                                         <h3><strong>Profile</strong> Information</h3>
                                  </div>

                                  <div class="col-auto ml-auto text-right mt-n1">
                                         <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                                                       <li class="breadcrumb-item"><a href="/home">My Dashboard</a></li>
                                                       <li class="breadcrumb-item active" aria-current="page">Profile Information</li>
                                                </ol>
                                         </nav>
                                  </div>
                           </div>

                           <div class="row">
                                  <div class="col-md-4">
                                         <div class="card">
                                                <div class="card-header">
                                                       <h5 class="card-title mb-0">Profile Details</h5>
                                                </div>
                                                <div class="card-body text-center">
                                                       <img src="{{user.profile}}" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                                                       <h5 class="card-title mb-0">@{{user.fname}}{{user.lname}}</h5>
                                                </div>


                                                <hr class="my-0" />
                                                <div class="card-body">
                                                       <h5 class="h6 card-title">Private Informattion</h5>
                                                       <ul class="list-unstyled mb-0">
                                                              <li class="mb-1"> <strong>First Name:</strong> {{user.fname}}</li>
                                                              <li class="mb-1"> <strong>Last Name:</strong> {{user.lname}}</li><br>
                                                              <li class="mb-1"><span data-feather="credit-card" class="feather-sm mr-1"></span> Mobile Money <a href="#">{{phone}}</a></li>
                                                              <li class="mb-1"><span data-feather="map-pin" class="feather-sm mr-1"></span> From <a href="#">Kigali, Rwanda</a></li>
                                                       </ul>
                                                </div>

                                                <hr class="my-0" />
                                                <div class="card-body">
                                                       <h5 class="h6 card-title">Academic Information</h5>
                                                       <ul class="list-unstyled mb-0">

                                                              <li class="mb-1"><span data-feather="book" class="feather-sm mr-1"></span> African University Of Central Africa</li>
                                                              <li class="mb-1"><span data-feather="award" class="feather-sm mr-1"></span> Masters Degree</li>
                                                       </ul>
                                                </div>

                                                <hr class="my-0" />
                                                <div class="card-body">
                                                       <h5 class="h6 card-title">Contact</h5>
                                                       <ul class="list-unstyled mb-0">

                                                              <li class="mb-1"><span data-feather="phone" class="feather-sm mr-1"></span> {{user.phone}}</li>
                                                              <li class="mb-1"><span data-feather="phone" class="feather-sm mr-1"></span> {{user.phone}}</li>
                                                              <li class="mb-1"><span data-feather="mail" class="feather-sm mr-1"></span> {{user.email}}</li>
                                                       </ul>
                                                </div>

                                                <div class="mb-3 text-center">
                                                      <a href="/settings" class="btn btn-danger">Edit Profile</a>
                                                </div>
                                         </div>
                                  </div>

                                  <div class="col-md-8">
                                         <div class="card">
                                                <div class="card-header">

                                                       <h5 class="card-title mb-0">Your Activities</h5>
                                                </div>
                                                <div class="card-body h-100">

                                                       <div class="media">
                                                              <img src="{{user.profile}}" width="36" height="36" class="rounded-circle mr-2" alt="Vanessa Tucker">
                                                              <div class="media-body">
                                                                     You have apporved a payment of <strong>usernumber011</strong><br>
                                                                     <small class="text-muted">Today 7:51 pm</small><br />
                                                              </div>
                                                       </div>

                                                       <hr />
                                                       <div class="media">
                                                              <img src="{{user.profile}}" width="36" height="36" class="rounded-circle mr-2" alt="Christina Mason">
                                                              <div class="media-body">
                                                                     You have logged into your account with this machine <strong>1.00.54.76.554</strong>, this is to show which activities the admin has done to make sure he is not doing illegal activities on the platform.<br>
                                                                     <small class="text-muted">Today 6:35 pm</small>
                                                              </div>
                                                       </div>
                                                       <hr />
                                                       <div class="media">
                                                              <img src="{{user.profile}}" width="36" height="36" class="rounded-circle mr-2" alt="Christina Mason">
                                                              <div class="media-body">
                                                                     You have assigned a task to <strong>Freelancer006</strong><br>
                                                                     <small class="text-muted">Yesterday 2:43 pm</small>
                                                              </div>
                                                       </div>
                                                </div>
                                         </div>
                                  </div>
                           </div>
                    </div>
             </main>

             <!-- foooter-->
             {{>user_footer}}


      </div>
       </div>

       <script src="js/vendor.js"></script>
       <script src="js/app.js"></script>


</body>

</html>